<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert MP3 and Image to Video</title>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">

</head>
<body>

    <div class="wrapper">
       
        <ul id="progressbar">
            <li id="imageUploadStep">
                <i class="material-icons">image</i>
                <span>1. Image Upload</span>
            </li>
            <li id="audioUploadStep">
                <i class="material-icons">audio_file</i>
                <span>2. Audio Upload</span>
            </li>
            <li id="createVideoStep">
                <i class="fa fa-video"></i>
                <span>3. Create Video</span>
            </li>
            <li id="uploadVideoStep">
                <i class="material-icons">file_upload</i>
                <span>4. Upload Video</span>
            </li>
        </ul>
        
        
        <div class="container">
           
            <h1>Convert MP3 to Video with an Image</h1>
            <p>Please upload an image and an MP3 file to create your video.</p>
            <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
                <div class="input-container ic2">

    <i class="fa fa-video" style="margin-right: 10px;"></i>
    <input type="text" name="video_name" class="input" required />
    <div class="cut cut-short"></div>
    <label for="video_name" class="placeholder">Name</label>
</div>
<br><br>
<div class="input-container ic2">

    <i class="fa fa-pencil-alt" style="margin-right: 10px;"></i>
    <textarea name="description" class="input"></textarea><br><br>
    <div class="cut cut-short1"></div>
    <label for="description" class="placeholder">Video Description:</label>
</div>

        
            

                <div class="steps">
                    <div class="step">
                        <h2>1. Upload an Image</h2>
                        <div class="upload-area">
                            <label for="imageUpload">Drop image here or</label>
                            <input type="file" id="imageUpload" name="images" accept="image/*" onchange="previewImage(event)">
                        </div>
                        <div id="imagePreview" class="preview-area"></div>
                    </div>
                    <div class="step">
                        <h2>2. Upload Your MP3</h2>
                        <div class="upload-area">
                            <label for="audioUpload">Drop MP3 here or</label>
                            <input type="file" id="audioUpload" name="audio" accept="audio/mp3" onchange="previewAudio(event)">
                        </div>
                        <div id="audioPreview" class="preview-area"></div>
                    </div>
                </div>
                <div class="action-buttons">
                    <button id="convertButton" onclick="moveToStep(2)">
                        <i class="fa fa-video"></i> Create Video
                    </button>
                    
                </div>
            </form>
            <div id="progressContainer">
                <progress id="progressBar" value="0" max="100"></progress>
                <span id="progressText">0%</span>
            </div>
       
           
           



            <div id="videoContainer" class="video-container" >
                <h1 style="margin-left:590px" id="filename">{{ video_filename }}</h1>
                <video width="800" height="600" controls>
                    <source src="{{ video_url }}" type="video/mp4">
                    Votre navigateur ne supporte pas la vidéo HTML5.
                </video>
                <button id="toggleVideoButton" onclick="toggleVideoVisibility()" class="hide">Hide Video</button>
            </div>
            <div class="terms">
                <input type="checkbox" id="termsCheckbox">
                <label for="termsCheckbox">I agree to the <a href="#">Privacy Policy</a> and the <a href="#">Terms and Conditions</a></label>
            </div>
    
            <div class="action-buttons">
            <form action="/upload_youtube/{{ video_filename }}" method="Post">

                <button type="submit" disabled class="uploadtoy" id="uploadtoy">
                   
                    Upload to YouTube
                </button> 
                
            </form></div>
        </div>
    </div>

    <script>
           function updateProgressBar(progress) {
                    const progressBar = document.getElementById("progressBar");
                    const progressText = document.getElementById("progressText");
                    progressBar.value = progress;
                    progressText.textContent = progress + "%";
                }
            
                function fetchProgress() {
                    fetch("/get_progress")
                        .then(response => response.json())
                        .then(data => {
                            updateProgressBar(data.progress);
                            if (data.progress < 100) {
                                setTimeout(fetchProgress, 1000); // Met à jour toutes les secondes
                            }
                        });
                }
            
                document.getElementById("convertButton").addEventListener("click", function() {
               
                    fetchProgress();
                });
        const termsCheckbox = document.getElementById('termsCheckbox');
        const convertButton = document.getElementById('uploadtoy');

        termsCheckbox.addEventListener('change', function() {
            convertButton.disabled = !this.checked;
        });

         let currentStep = 1;

function moveToStep(step) {
    currentStep = step;
    document.querySelectorAll('#progressbar li').forEach((li, index) => {
        li.classList.remove('active');
        if (index < currentStep) {
            li.classList.add('active');
        }
    });
}
        // Preview the uploaded image
        function previewImage(event) {
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = ''; 

            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;

                    // Create a container for the image with a delete button
                    const imageContainer = document.createElement('div');
                    imageContainer.classList.add('image-container');
                    
                    // Create a delete button
                    const deleteBtn = document.createElement('button');
                    deleteBtn.classList.add('delete-btn');
                    deleteBtn.textContent = 'X';
                    deleteBtn.onclick = function() {
                        imagePreview.removeChild(imageContainer); 
                        document.getElementById('imageUpload').value = ''; 
                    };

                    imageContainer.appendChild(img);
                    imageContainer.appendChild(deleteBtn);
                    imagePreview.appendChild(imageContainer);
                };
                reader.readAsDataURL(file);
            }
        }

        // Preview the uploaded audio
        function previewAudio(event) {
            const audioPreview = document.getElementById('audioPreview');
            audioPreview.innerHTML = ''; // Clear previous preview

            const file = event.target.files[0];
            if (file) {
                const audio = document.createElement('audio');
                audio.controls = true;
                const audioURL = URL.createObjectURL(file);
                audio.src = audioURL;
                audioPreview.appendChild(audio);
            }
        }

        // Toggle video visibility
        function toggleVideoVisibility() {
            const videoContainer = document.getElementById('videoContainer');
            const button = document.getElementById('toggleVideoButton');

            if (videoContainer.style.display === 'none') {
                videoContainer.style.display = 'block';
                button.textContent = 'Hide Video';
            } else {
                videoContainer.style.display = 'none';
                button.textContent = 'Show Video';
            }
        }
    </script>
    <script>
        // Function to set the active step
        function setActiveStep(stepId) {
            
            const steps = document.querySelectorAll('#progressbar li');
            steps.forEach(step => step.classList.remove('active'));
    
            const activeStep = document.getElementById(stepId);
            activeStep.classList.add('active');
        }
    
        document.getElementById('imageUpload').addEventListener('click', function() {
            setActiveStep('imageUploadStep');
        });
    
        document.getElementById('audioUpload').addEventListener('click', function() {
            setActiveStep('audioUploadStep');
        });
    

        document.getElementById('convertButton').addEventListener('click', function() {
            setActiveStep('createVideoStep');
        });
    
        document.getElementById('uploadtoy').addEventListener('click', function() {
            setActiveStep('uploadVideoStep');
        });
    
    </script>
    
</body>
</html>
