<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated video</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <h1>Generated video</h1>
    <video width="800" height="600" controls>
        <source src="{{ video_url }}" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo HTML5.
    </video>
    <!-- Formulaire pour téléverser sur YouTube -->
    <form action="/upload_youtube/{{ video_filename }}" method="Post">
        <input type="hidden" name="title" value="Titre par défaut">
        <input type="hidden" name="description" value="Description par défaut">
        <button type="submit" class="upload-btn">Upload to YouTube</button>
    </form>

    <br>
    <a href="/">Back TO creation Page</a>
</body>
</html>
